node_modules
dist
cursor.lock
.env*
!.env.example
*.log
*.db
*.js
*.lock
!ecosystem.config.js
docker-compose.yml
*-linux
*-macos
*-win.exe
substreams-sink-webhook
bun.lockb
.vscode
examples/**/bun.lockb
examples/**/package-lock.json